.about {
    width: 95%;
    min-height: 650px;
    height: 100dvh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__container {
    width: min(1400px, 100%);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--bg-color-3);
    padding: 20px;
    border-radius: 10px;
}

.about__photo {
    text-align: center;
    img {
        width: clamp(4rem, 10vw, 8rem);
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 100%;
    }
    figcaption{
        opacity: 0.5;
        font-style: italic;
    }
}

.about__title {
    font-family: var(--font-archivo), sans-serif;
    font-size: clamp(1.6rem, 6vw, 3rem);
    text-align: center;
    letter-spacing: 1.1px;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}