.essay{
    min-height: 800px;
}
.essay__title,
.essay__notfound{
    font-family: var(--font-pacifico), sans-serif;
    text-align: center;
}

.essay__p{
    width: min(700px,95%);
    margin: 0 auto 15px auto;
    text-align: center;
}

.essay__notfound{
    height: calc(100dvh - 110px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}