@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --bg-color-1: f5f5f5;
  --bg-color-2: #eed8bf;
  --bg-color-3: #e9e9e9;
  --bg-color-4: #c7c7c7cb;
  --text-color-1: #161616;
  --text-color-2: #585858;
  --text-color-3: #474747;
  --zap-color: #25d366;
}

body {
  background-color: var(--bg-color-1);
  color: var(--text-color-1);
  position: relative;
  overflow: auto !important;
}

a {
  text-decoration: none;
  color: var(--text-color-1);
}
