.openZap {
    display: none;
}

.openZap:checked ~ form{
    pointer-events: all;
    transform: scale(1);
}

.zap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    font-size: 2rem;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 1;
    background-color: var(--zap-color);
    box-shadow: 0 14px 20px rgba(0, 0, 0, .16);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.zap__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: min(400px, 95%);
    padding: 10px;
    border-radius: 10px 10px 0 10px;
    background-color: #c7c7c7cb;
    backdrop-filter: blur(5px);
    position: fixed;
    right: 10px;
    bottom: 80px;
    z-index: 1;
    box-shadow: 6px 8px 18px 0px #000000bf;
    pointer-events: none;
    transition: .3s;
    transform: scale(0);
    transform-origin: 100% 100%;

    label {
        font-weight: 600;
        letter-spacing: 2px;
        color: var(--text-color-3);
    }

    input {
        height: 35;
        border: none;
        font-size: 1rem;

        &:focus {
            outline: none;
        }
    }

    select {
        height: 35px;
         font-size: 1rem;
    }

    textarea {
        width: 100%;
        height: 170px;
        font-size: 1.1rem;
        padding: 5px;

        &:focus {
            outline: none;
        }
    }

    button {
        padding: 10px;
        font-size: 1rem;
        text-transform: uppercase;
        background-color: var(--zap-color);
        font-weight: bold;
        font-family: var(--font-archivo), sans-serif;
        border: none;
    }
}

.zap__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}