.header__container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 110px;
    margin: auto;
}

.header__social{
    font-size: 1.4rem;
    display: flex;
    gap: 10px;
}

.header__logo{
    width: min(80px, 18vw);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*menu hamburguer*/
.header__nav{
    display: flex;
    gap: 8px;
    text-transform: uppercase;

    a{
        padding: 5px;
        &:hover{
            background-color: var(--bg-color-2);
        }
    }
}

.header__checkbox {
    display: none;
}

.header__hamBtn {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    span {
        display: block;
        background-color: var(--text-color-1);
        height: 2px;
        width: 30px;
        transition: all 0.5s;
    }
}

.header__checkbox:checked+.header__hamBtn {
    span:nth-of-type(1) {
        transform: rotate(45deg) translateY(10px);
    }

    span:nth-of-type(2) {
        opacity: 0;
    }

    span:nth-of-type(3) {
        transform: rotate(-45deg) translateY(-10px);
    }
}

@media(max-width:1292px){
    .header__hamBtn{
        display: flex;
    }
    .header__nav{
        position: absolute;
        top: 80px;
        right: 0;
        z-index: 2;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        flex-direction: column;
        background-color: var(--bg-color-4);
        backdrop-filter: blur(2px);
        pointer-events: none;
        transition: .3s;
        transform: scale(0);
        transform-origin: 100% 0;
    }

    .header__checkbox:checked~.header__nav {
        opacity: 1;
        pointer-events: all;
        transform: scale(1);
    }
}