.feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    width: min(600px, 100%);
    height: 270px;
    background-color: var(--bg-color-3);
    padding: 15px;
    border-radius: 10px;
}

.feedback__photoPerson {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
        width: min(70px, 11vw);
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
    }

    figcaption {
        color: var(--text-color-2);
    }
}

.feedback__coments{
    color: var(--text-color-3);
}

.feedback__stars{
    color: #ffc107;
    font-size: 1.3rem;
}