.footer{
    background-color: var(--bg-color-2);
    height: 120px;
}

.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
    width: 95%;
    margin: auto;
}

p:nth-child(1){
    font-weight: 600;
    letter-spacing: 1.2;
    text-align: center;
}